.header {
  padding-top: 34px;
  margin-bottom: 91.06px;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .header {
    padding-top: 20px;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 1279px) and (min-width: 768px) {
  .header {
    padding-top: 30px;
    margin-bottom: 90px;
  }
}
