.image__landscape {
  margin-top: 64px;
  width: 984px;
  height: 615px;
  margin-left: 148px;
  margin-right: 148px;
}

@media screen and (max-width: 767px) {
  .image__landscape {
    width: 320px;
    height: 200px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 1279px) and (min-width: 768px) {
  .image__landscape {
    width: 768px;
    height: 480px;
    margin-top: 30px;
    margin-bottom: 90px;
    margin-left: 0;
    margin-right: 0;
  }
}
