.page {
  background-color: #2a2c2f;
  margin: 0 auto;
  width: 1280px;
  font-size: 16px;
  line-height: 20px;
  font-family: "Inter", Arial, sans-serif;
}
@media screen and (max-width: 320px) {
  .page {
    width: 320px;
  }
}
@media screen and (max-width: 768px) and (min-width: 321px) {
  .page {
    width: 768px;
  }
}
