.places {
  color: white;
  width: 990px;
  height: 3367px;
  margin: 92px 145px 90px 148px;
}
@media screen and (max-width: 320px) {
  .places {
    color: white;
    width: 320px;
    height: 2952px;
    margin: 62px 0px 65px 0px;
  }
}
@media screen and (max-width: 768px) and (min-width: 321px) {
  .places {
    color: white;
    width: 720px;
    height: 3012px;
    margin: 88px 24px 90px 24px;
  }
}
