@import url("../blocks/page.css");
@import url("../web/inter.css");

.page {
  width: 1280px;
}
.header {
  padding-top: 34px;
  margin-bottom: 91.06px;
  display: flex;
  justify-content: center;
}
.logo {
  height: 68.94px;
  width: 254.84px;
}
.logo__img {
  width: 32px;
  height: 32px;
  margin-left: 111.42px;
}
.logo__text {
  width: 254.84px;
  height: 14.09px;
  color: white;
  font-family: "Inter";
  font-weight: 900;
  text-align: center;
}
.lead {
  margin-left: 148px;
  margin-right: 148px;
  width: 984px;
  height: 368px;
}
.lead__title {
  color: white;
  width: 720px;
  height: 200px;
  margin-left: 132px;
  line-height: 100px;
  font-size: 96px;
  font-family: Inter;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}
.lead__subtitle {
  margin-top: 32px;
  margin-left: 132px;
  margin-bottom: 0px;
  color: white;
  width: 720px;
  height: 72px;
  opacity: 0px;
  font-family: Inter;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
}

.image {
  margin-top: 64px;
  width: 984px;
  height: 615px;
  margin-left: 148px;
  margin-right: 148px;
}
.intro {
  width: 830px;
  height: 607px;
  margin-left: 148px;
}
.intro__title {
  color: white;
  width: 830px;
  height: 173.92px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  text-align: left;
}

.intro__content {
  color: white;
  width: 738px;
  height: 135.66px;
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  text-align: left;
}
.intro__author {
  color: white;
  width: 732px;
  height: 33.91px;
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  text-align: right;
}
.intro__description {
  color: white;
  width: 722px;
  height: 181.54px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 26.08px;
  text-align: left;
}
.footer {
  color: white;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: right;
  display: flex;
  justify-content: center;
  margin-top: 92px;
}

.footer__copyrights {
  width: 194px;
  height: 16px;
  font-size: 14px;
  line-height: 16px;
}
@media screen and (max-width: 320px) {
  .page {
    width: 320px;
  }
  .header {
    padding-top: 20px;
    margin-bottom: 50px;
  }
  .logo {
    height: 52px;
    width: 188px;
  }
  .logo__img {
    width: 23.69px;
    height: 23.77px;
    margin-left: 82.16px;
  }
  .logo__text {
    width: 188px;
    height: 11.1px;
  }
  .lead {
    margin-left: 16px;
    margin-right: 16px;
    width: 288px;
    height: 144px;
  }
  .lead__title {
    width: 228px;
    height: 88px;
    margin-left: 30px;
    font-family: Inter;
    font-size: 40px;
    font-weight: 900;
    line-height: 44px;
    text-align: center;
  }
  .lead__subtitle {
    width: 288px;
    height: 40px;
    margin-left: 0px;
    margin-top: 16px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
  }
  .image {
    width: 320px;
    height: 200px;
    gap: 0px;
    opacity: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .intro {
    width: 288px;
    height: 1033px;
    margin-left: 16px;
    margin-top: 64px;
  }
  .intro__title {
    width: 288px;
    height: 175px;
    font-family: Inter;
    font-size: 32px;
    font-weight: 900;
    line-height: 35px;
    text-align: left;
  }
  .intro__content {
    width: 288px;
    height: 300px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    margin-top: 40px;
    margin-bottom: 0px;
  }
  .intro__author {
    width: 288px;
    height: 34px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    text-align: right;
    margin-top: 0px;
    margin-bottom: 32px;
  }
  .intro__description {
    width: 288px;
    height: 442px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 26.08px;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .footer {
    margin-top: 64px;
  }
  .footer__copyrights {
    width: 194px;
    height: 16px;
    font-size: 14px;
    line-height: 16px;
  }
}

@media screen and (max-width: 768px) and (min-width: 320px) {
  .page {
    width: 768px;
  }
  .header {
    padding-top: 30px;
    margin-bottom: 90px;
  }
  .logo {
    height: 66px;
    width: 254px;
  }
  .logo__img {
    width: 32px;
    height: 30.17px;
    margin-left: 111px;
  }
  .logo__text {
    width: 254.84px;
    height: 14.09px;
  }
  .lead {
    margin-left: 24px;
    margin-right: 24px;
    width: 720px;
    height: 255px;
  }
  .lead__title {
    width: 530px;
    height: 158px;
    margin-left: 95px;
    line-height: 79px;
    font-size: 75px;
  }
  .lead__subtitle {
    width: 720px;
    height: 72px;
    font-size: 30px;
    line-height: 36px;
    margin-top: 25px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  .image {
    width: 768px;
    height: 480px;
    margin-top: 30px;
    margin-bottom: 90px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .intro {
    width: 720px;
    height: 573px;
    margin-left: 24px;
  }
  .intro__title {
    width: 707px;
    height: 147px;
    font-size: 45px;
    line-height: 49px;
  }
  .intro__content {
    width: 707px;
    height: 136px;
    font-size: 24px;
    line-height: 34px;
    margin-top: 50px;
    margin-bottom: 0px;
  }
  .intro__author {
    width: 707px;
    height: 34px;
    font-size: 24px;
    line-height: 34px;
    margin-top: 0px;
    margin-bottom: 32px;
  }
  .intro__description {
    width: 720px;
    height: 182px;
    font-size: 16px;
    line-height: 26.08px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .footer {
    margin-top: 88px;
  }
  .footer__copyrights {
    width: 194px;
    height: 16px;
    font-size: 14px;
    line-height: 16px;
  }
}
